#layouts-main-left
  .list
    - @events.each do |event|
      .clearfix.event-item #{render "events/item", event: event}
  #{link_to '新しいイベントを作成', new_event_path}


#layouts-main-right #{render "events/right_side"}
