#layouts-main-left
  %h1 #{location_str(params[:location])}のイベント
  .list
    - @events.each do |event|
      .clearfix.event-item #{render "events/item", data: event}


#layouts-main-right #{render "events/right_side"}
