#pc{
    background: #FFF;
    header, footer, #layouts-main-container{
        > div{
            width: 1000px;
            margin: 0 auto;
        }
    }

    #layouts-main-container{
        margin: 10px 0px;
    }
    #layouts-main-right{
        float: right;
        width: 300px;
    }
    #layouts-main-left{
        float: left;
        width: 700px;
    }

    header, footer{
        height: 100px;
        line-height: 100px;
        background: #AAA;
        text-align: center;
        font-size: 24px;
        color: #666;
    }














}
